# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Project Runtime
temp_speech.wav
*.log

# IDE
.idea/
.vscode/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Copyrighted Assets (Do not upload)
resources/characters/HuTao/
