PyQt5>=5.15.0
PyQtWebEngine>=5.15.0
requests>=2.25.0
edge-tts
faiss-cpu
soundfile
librosa
scipy
praat-parselmouth
transformers>=4.20.0
pypinyin>=0.40.0
einops>=0.4.0
pyworld>=0.3.0
torchaudio
ffmpeg-python
pytorch-lightning>=2.4
rotary_embedding_torch
x_transformers
fast_langdetect>=0.3.1
peft
tensorboard
